{
  "printWidth": 100,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "parser": "typescript",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
